<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pizza-oppgave-309854.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pizza-oppgave-309854.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>pizza-oppgave-309854</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$pizza-oppgave-309854</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Pizza_Ukesoppgave.Models.DB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Pizza_Ukesoppgave.Models.DB, Pizza-Ukesoppgave" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Bestilling" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|BestillingDatabase.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Bestilling_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source= (LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|BestillingDatabase.mdf;Integrated Security = True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Bestilling-Web.config Connection String">
      <ParameterValue>Server=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Pizza_Ukesoppgave.Models.DB-Web.config Connection String">
      <ParameterValue>Server=tcp:bestillingdbserver.database.windows.net,1433;Initial Catalog=Bestilling;Persist Security Info=False;User ID=fitah22;Password=Foziajama3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Pizza_Ukesoppgave.Models.DB" />
  </ItemGroup>
</Project>